POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


ADMIN_PASSWORD=
ADMIN_EMAIL=
ADMIN_PHONE=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_RESET_PASSWORD_SECRET=
JWT_EXPIRATION=


MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_REGION=
AWS_S3_ATTACHMENT_FILE_BUCKET_NAME=
AWS_S3_SIGN_BUCKET_NAME=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URI=

FRONTEND_URL=



